spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/playground
    username: <username>
    password: <password>
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    url: jdbc:postgresql://localhost:5432/playground
    user: <username>
    password: <password>
    schemas: public
    locations: classpath:db/migration/postgresql
    baseline-on-migrate: false # When true it permit initializing a non-empty schema, but the db migration version needs to be shifted by 1
    clean-disabled: false # Useful in development env, not safe in prod

# App Properties
playground:
  app:
    jwtSecret: a-string-secret-at-least-256-bits-long
    jwtExpirationMs: 3600000
    jwtRefreshExpirationMs: 86400000